{% extends 'base.html' %}

{% block head %}
<!-- Style -->
<style>
    h1 {
        padding-top: 20px;
        font-size: 50px;
        color: #000;
        font-family: 'Lucida Console', serif;
    }

    p {
        font-family: Verdana, sans-serif;
    }
    .title {
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        color: #000;
    }

    .title:hover {
        color: #5da2d5

    }
</style>
<div id="about-heading" class="container-fluid">
    <h1 class="title">About This Website</h1>
    <p class="title"> Why does this website even exist? The answer lies here...</p>
</div>

    <!-- Assignment Page Fetch -->
    <embed src="https://subjects.ee.unsw.edu.au/tele3118/labs/lab6.html" style="width:1200px; height: 800px;">

    {% endblock %}

    {% block body %}

    {% endblock %}
