{% extends 'base.html' %}
{% block head %}
<style>
    h1 {
        padding-top: 20px;
        font-size: 50px;
        color: #000;
        font-family: 'Lucida Console', serif;
    }

    p {
        font-family: Verdana, sans-serif;
    }
    h2 {
        font-size: 20px;
        font-family: "Lucida Console", monospace;
    }
    .title {
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        color: #000;
    }

        .title:hover {
            color: #5da2d5
        }
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #90ccf4 !important;
        color: black !important;
    }
</style>
<div id="student-heading" class="container-fluid">
    <h1 class="title">This is {{ name }}.</h1>
    <p class="title">Hi, I'm {{ name }} and I don't exist.</p>
</div>
<h2>
    Name: {{ name }}
    <br>
    Mark: {{ mark }}
</h2>

<a href="{{ url_for('studentlist') }}" class="btn btn-primary"
   role="button" aria-pressed="true">Go back to Students</a>

{% endblock %}

{% block body %}

{% endblock %}